.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary);
  padding-bottom: 20px;
}

.box-grid {
  grid-template-columns: 190px auto 190px;
}

[class^="box-"] {
  display: grid;
  place-items: start;
  justify-content: center;
}

.grid-field {
  grid-template-columns: repeat(4, 100px);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}

.result-text, .result-count {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.result-text {
  color: var(--color-primary);
}

.result-count {
  color: var(--color-accent);
}