.card {
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-height: 100px;
  position: relative;
}

/* Закрытая (фон) */
.card:not(.opened)::after {
  content: "";
  background: no-repeat center center  url("../../images/ks.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(0) perspective(100px);
  transition: 0.4s;
  backface-visibility: hidden;
}

/* Закрытая (картинка) */
.card:not(.opened) img {
  opacity: 0;
}

/* Открытая (фон) */
.card.opened {
  background: #E5E5E5;
}

/* Открытая (картинка) */
.card.opened img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}

/* Открытая и угаданная (картинка) */
.card.opened img.hide {
  opacity: 0;
}
