@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800&display=swap");

:root {
  --color-primary: #0083FC;
  --color-accent: #FF5533;
  --color-white: #fff;
  --container-width: 1440px;
  --grid-column-width: 1fr;
  --grid-gap: 20px;
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Rubik, sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #1e2027;
  background-color: #ebebeb;
}

.container {
  margin: 0 auto;
  padding: 20px 200px;
  max-width: var(--container-width);
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, var(--grid-column-width));
  grid-gap: var(--grid-gap);
}