.result-block {
  position: absolute;
  width: 685px;
  height: 371px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-accent);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-block__text {
  padding-top: 20px;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.result-block__btn {
  background: var(--color-primary);
  border-radius: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 24px 50px;
  border-color: transparent;
  cursor: pointer;
}